extends layout

block content
  h1 Get My Ip Address 
  br

  h3 ip Address: 
     =ipAddress

  h3 ip data:
  p City:
    =city || "Not detected"
  p Region:
    =region || "Not detected"
  p Country:
    =data.country || "Not detected"
  p Continent:
    =continent || "Not detected"
  p Longitude:
    =longitude || "Not detected"
  p Latitude:
    =latitude || "Not detected"
  -if(data.security.is_vpn===true){
    p  VPN detected
  -}
  -else{
    p No VPN detected
  -}
  